<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            max-width: 300px;
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
        }

        img {
            max-width: 150px;
        }

        p {
            margin: 0;
        }

        a {
            display: inline-block;
            border: 1px solid rgb(0, 221, 0);
            background-color: rgb(0, 221, 0);
            padding: 5px;
            margin: 5px 5px 5px 5px;
            text-emphasis: bold;
        }

        form {
            display: inline-block;
            margin: auto 10px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>Edit Pokemon</h1>
    <h3><a href="/pokemon">Back to Pokedex</a></h3>
    <br>
    <img src="<%= data.img %>" alt="">

    <ul>Type
        <% for(elem of data.type) { %>
            <li><%= elem %></li>
        <% } %>
    </ul>

    <p>HP: <%= data.stats.hp %></p>
    <p>Attack: <%= data.stats.attack %></p>
    <p>Defense: <%= data.stats.defense %></p>

    <a href="/pokemon/<%= id %>/edit">Edit</a>

    <form action="/pokemon/<%= id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>

</body>

</html>