<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <style>
        div {
            max-width: 300px;
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
        }

        img {
            max-width: 150px;
        }

        p {
            margin: 0;
        }

        a {
            display: inline-block;
            border: 1px solid rgb(0, 221, 0);
            background-color: rgb(0, 221, 0);
            padding: 5px;
            margin: 5px 5px 5px 5px;
            text-emphasis: bold;
        }

        form {
            display: inline-block;
            margin: auto 10px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>Pokemon Pokedex</h1>
    <h3><a href="/pokemon/new">Create New</a></h3>
    <br>
    <% for(let i=0; i < data.length; i++) { %>
    <div>
        <h3><%= data[i].name %></h3>
        <img src="<%= data[i].img %>" alt="">

        <ul>Type
            <% for(elem of data[i].type) { %>
            <li><%= elem %></li>
            <% } %>
        </ul>

        <p>HP: <%= data[i].stats.hp %></p>
        <p>Attack: <%= data[i].stats.attack %></p>
        <p>Defense: <%= data[i].stats.defense %></p>

        <a href="/pokemon/<%= i %>/edit">Edit</a>

        <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>

    <% } %>
</body>

<script>

    //jQuery window on load method
    $(() => {
        $('div').on('click', (elem) => {
            console.log(elem);
            //get the 6th child of the current div (the anchor tag)
            const linkElem = $(elem.currentTarget).children().get(6)
            //get the href of the tag and split it into an array
            const linkTextArr = linkElem.href.split('/')
            //remove the last element of the array
            linkTextArr.splice(linkTextArr.length-1, 1)
            //join the array with '/' to get the show URL
            const showLink = linkTextArr.join('/')
            //redirect to show page URL
            window.location.href = showLink
        })

    })

</script>

</html>