<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <style>
        div {
            max-width: 300px;
        }

        img {
            max-width: 150px;
        }

        p {
            margin: 0;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>Pokemon Pokedex</h1>
    <br>
    <% for(let i=0; i < data.length; i++) { %>
    <div>
        <h3><%= data[i].name %></h3>
        <img src="<%= data[i].img %>" alt="">

        <ul>Type
            <% for(elem of data[i].type) { %>
            <li><%= elem %></li>
            <% } %>
        </ul>

        <p>HP: <%= data[i].stats.hp %></p>
        <p>Attack: <%= data[i].stats.attack %></p>
        <p>Defense: <%= data[i].stats.defense %></p>

        <a href="/pokemon/<%= i %>/edit">Edit</a>

        <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>

    <% } %>
</body>

<script>
    $(() => {
        $('div').on('click', (elem) => {
            console.log(elem);
            const linkElem = $(elem.currentTarget).children().get(6)
            const linkTextArr = linkElem.href.split('/')
            linkTextArr.splice(linkTextArr.length-1, 1)
            const showLink = linkTextArr.join('/')
            console.log(showLink);
        })

    })

</script>

</html>