<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">    
    <title>Document</title>
</head>
<body>
    <h1>Edit <%= data.name %></h1>
    <h3><a href="/products">Back to index</a></h3>

    <form action="/products/<%= data.id %>" method="POST">
        Name: <input type="text" name="name" value="<%= data.name %>"/><br>
        Description: <input type="text" name="description" value="<%= data.description %>"/><br>
        Image URL: <input type="text" name="img" value="<%= data.img %>"/><br>
        Price: <input type="text" name="price" value="<%= data.price %>"/><br>
        Quantity: <input type="text" name="qty" value="<%= data.qty %>"/><br>
        <br>
        <input type="submit" name="" value="Edit" />
    </form>
</body>
</html>