<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">    
    <title>Document</title>
</head>

<body>
    <h1>Products Index Page</h1>
    <h3><a href="/products/new">Create New</a></h3>
    <br>
    <h3>Entries</h3>
    <ul>
        <% for(let i = 0; i < data.length; i++){ %>
        <a href="/products/<%= data[i].id %>">
            <li>
                Name:
                    <%=data[i].name; %>
                <br>
                Price: <%=data[i].price; %>
                <br>
                <img src="<%= data[i].img %>" alt="">
                <br>
                <form action="/products/<%= data[i].id %>/delete?_method=DELETE" method="POST">
                    <input type="submit" name="" value="Delete" />
                </form>
            </li>
        </a>
        
        <% } %>
    </ul>

</body>

</html>