<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">    
    <title>Document</title>
</head>

<body>
    <h1>Products Index Page</h1>
    <h3><a href="/products/new">Create New</a></h3>
    <br>
    <form action="/products?_method=DELETE" method="POST">
        <h3>Delete a product:</h3>
        ID: <input type="text" name="id" /><br>
        <input type="submit" name="" value="Delete" />
    </form>
    <br>
    <h3>Entries</h3>
    <ul>
        <% for(let i = 0; i < data.length; i++){ %>
        <li>
            Name:
            <a href="/products/<%= data[i].id %>">
                <%=data[i].name; %>
            </a>
            <br>
            Price: <%=data[i].price; %>
            <br>
            <a href="/products/<%= data[i].id %>">
                <img src="<%= data[i].img %>" alt="">
            </a>
        </li>
        <% } %>
    </ul>

</body>

</html>