<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Logs Index Page</h1>
    <h3><a href="/new">Create New</a></h3>
    <form action="/logs?_method=DELETE" method="POST">
        ID: <input type="text" name="id" /><br/>
        <input type="submit" name="" value="Delete"/>
    </form>
    <br>
    <h3>Entries</h3>
    <ul>
        <% for(let i = 0; i < logs.length; i++){ %>
        <li>
            Title:
            <a href="/logs/<%= logs[i].id %>">
                <%=logs[i].title; %>
            </a>
            <br>
            ID: <%= logs[i].id %>
            <br>
            Entry: <%=logs[i].entry; %>
            <br>
            <% if(logs[i].shipIsBroken === true){ %>
                    Ship is broken
            <% } else { %>
                    Ship is not broken
            <% } %>
            <form action="/logs/<%= logs[i].id %>/edit" method="PUT">
                <input type="submit" name="" value="Edit"/>
            </form>
        </li>
        <% } %>
    </ul>
</body>

</html>