<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1><%=logs.title; %> show page</h1>
    <h3><a href="/logs">Back to index</a></h3>
    <br>
    ID: <%=logs.id; %>
    <br>
    Entry: <%=logs.entry; %>
    <br>
    <% if(logs.shipIsBroken === true){ %>
            Ship is broken
    <% } else { %>
            Ship is not broken
    <% } %>
    <br>
    Created: <%= logs.createdAt %>
    <br>
    Updated: <%= logs.updatedAt %>
</body>

</html>